# Setează LF ca terminator de linie pentru toate fișierele de text
* text=auto

# Excludează fișierele binare de la schimbarea terminatorilor de linie
*.jpg binary
*.png binary
*.gif binary
*.zip binary
*.exe binary
*.dll binary
